# LaTeX files
*.aux
*.auxlock
*.bbl
*.bcf
*.blg
*.listing
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.tcbtemp
*.toc
*.vrb
_minted-*/
cache/
pgfshell_*

# Emacs
auto/

# Webpage
/site/build/
/site/src/generated/
